<?xml version="1.0" encoding="utf-8"?>
<!--
Sample license text.
-->
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MapViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <MapViewer.Properties.Settings>
            <setting name="MapPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="ElfPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="ObjFileSearchPaths" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>?</string>
                        <string>di 0</string>
                        <string>dd 0 0</string>
                        <string>fi 0 1</string>
                        <string>fl</string>
                        <string>fx TEMP.TXT COPY.TXT</string>
                    </ArrayOfString>
                </value>
            </setting>
        </MapViewer.Properties.Settings>
    </userSettings>
</configuration>
